/*!
 * Yamm!3 - Yet another megamenu for Bootstrap 3
 * http://geedmo.github.com/yamm3
 *
 * @geedmo - Licensed under the MIT license
 */
.yamm .nav, .yamm .collapse, .yamm .dropup, .yamm .dropdown {
  position: static; }

.yamm .container {
  position: relative; }

.yamm .dropdown-menu {
  left: auto; }

.yamm .yamm-content {
  padding: 20px 30px; }

.yamm .dropdown.yamm-fw .dropdown-menu {
  left: 0;
  right: 0; }

html {
  position: relative;
  min-height: 100%; }

body {
  font-family: "Lato", sans-serif; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

/*
.footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;

  height: 40px;
  line-height: 40px;

  @media screen and (max-width: 768px) {
    height: 80px;
  }

  background-color: #f5f5f5;

  border-top: #bbb;

  p {
    margin: 0;
    text-align: center;
    font-size: 10pt;
  }
}
*/
.toggle-container .toggle {
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px; }

.footer-container {
  background-color: #efefef; }
  .footer-container .navigation.container {
    display: none;
    padding-top: 20px;
    padding-bottom: 25px; }

.copyright-container {
  background-color: #e0e0e0; }
  .copyright-container p {
    margin: 0;
    padding-top: 15px;
    padding-bottom: 15px; }

.verses ol {
  padding-left: 0;
  margin-left: -5px; }
  @media screen and (max-width: 768px) {
    .verses ol {
      padding-left: 30px; } }
  .verses ol li {
    margin-bottom: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    position: relative;
    border-bottom: 1px solid #f7f7f7; }
    .verses ol li span:first-child {
      max-width: calc(100% - 35px);
      display: block; }
    .verses ol li .bookmark {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0; }

.list-inline li {
  margin-bottom: 3px; }

.remove-bookmark {
  cursor: pointer;
  margin-right: 5px; }

#active-chapter.maximized {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 900;
  width: 100%;
  height: 100%; }
  #active-chapter.maximized span[data-toggle="fullscreen"] {
    padding: 10px; }
  #active-chapter.maximized .verses ol {
    padding-left: 20px; }
    @media screen and (max-width: 768px) {
      #active-chapter.maximized .verses ol {
        padding-left: 30px; } }
  #active-chapter.maximized h3.title {
    margin-left: 20px; }
  #active-chapter.maximized .wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px 40px;
    /* this is for the sticky footer */
    overflow-y: scroll;
    height: 100%; }
    @media screen and (max-width: 768px) {
      #active-chapter.maximized .wrapper {
        padding-bottom: 80px; } }

#active-chapter .wrapper {
  position: relative; }
  #active-chapter .wrapper span[data-toggle="fullscreen"] {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer; }

.nav-container .navbar {
  border-left: 0;
  border-right: 0;
  border-top: 0;
  border-radius: 0; }

.back-to-top {
  display: inline-block;
  padding: 10px 15px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 30px;
  cursor: pointer; }

.legend h4 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 4px;
  margin-bottom: 10px; }

/*# sourceMappingURL=app.css.map */
